 <article class="pure-u-20-24" id="doc_IteratorClasses" style="margin-left: 2%; margin-top: 1px;">
                <header>
            <h1 itemprop="headline">Philips Board Games</h1>

            <i>made for the WIFI-Kurs</i>
        </header>
        
         <img class="CHESSSTART" src="schachbrett.svg">
        



       <code class="code_output">
                    8    <p>
        line: 0 | phase: 6, value: +1     <span style="display: inline;width:70%;height:1.2em;">
        <span style="background-color:rgba(6,5,20,0.92);color:rgba(243,252,218,0.92);width: 4em;margin-left:10em;height:1.2em;text-align:center;display:inline-block">
            1
        </span>
    </span>
    </p>    <p>
        line: 1 | phase: 7, value: +1     <span style="display: inline;width:70%;height:1.2em;">
        <span style="background-color:rgba(6,5,20,0.92);color:rgba(243,252,218,0.92);width: 4em;margin-left:10em;height:1.2em;text-align:center;display:inline-block">
            1
        </span>
    </span>
    </p>    <p>
        line: 2 | phase: 0, value: +1     <span style="display: inline;width:70%;height:1.2em;">
        <span style="background-color:rgba(6,5,20,0.92);color:rgba(243,252,218,0.92);width: 4em;margin-left:10em;height:1.2em;text-align:center;display:inline-block">
            1
        </span>
    </span>
    </p>    <p>
        line: 3 | phase: 1, value: 0     <span style="display: inline;width:70%;height:1.2em;">
        <span style="background-color:rgba(6,5,20,0.92);color:rgba(243,252,218,0.92);width: 0em;margin-left:10em;height:1.2em;text-align:center;display:inline-block">
            0
        </span>
    </span>
    </p>    <p>
        line: 4 | phase: 2, value: -1     <span style="display: inline;width:70%;height:1.2em;">
        <span style="background-color:rgba(6,5,20,0.92);color:rgba(243,252,218,0.92);width: 4em;margin-left:6em;height:1.2em;text-align:center;display:inline-block">
            -1
        </span>
    </span>
    </p>    <p>
        line: 5 | phase: 3, value: -1     <span style="display: inline;width:70%;height:1.2em;">
        <span style="background-color:rgba(6,5,20,0.92);color:rgba(243,252,218,0.92);width: 4em;margin-left:6em;height:1.2em;text-align:center;display:inline-block">
            -1
        </span>
    </span>
    </p>    <p>
        line: 6 | phase: 4, value: -1     <span style="display: inline;width:70%;height:1.2em;">
        <span style="background-color:rgba(6,5,20,0.92);color:rgba(243,252,218,0.92);width: 4em;margin-left:6em;height:1.2em;text-align:center;display:inline-block">
            -1
        </span>
    </span>
    </p>    <p>
        line: 7 | phase: 5, value: 0     <span style="display: inline;width:70%;height:1.2em;">
        <span style="background-color:rgba(6,5,20,0.92);color:rgba(243,252,218,0.92);width: 0em;margin-left:10em;height:1.2em;text-align:center;display:inline-block">
            0
        </span>
    </span>
    </p>                </code>

        </section>
    </article>